<!DOCTYPE html>
<html>

<head>
    <title>PennMail Queue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    {{{body}}}
</body>

</html>