<div class="plain section is-large is-fullheight ">
<div class="typewriter">
    <h1>Welcome to PennMail Processing Queue.</h1>
</div>
<div class="apple has-text-centered"><a href="/admin">
    <button class="button is-dark is-link is-center ">Click Me!</button>
</a></div>
</div>